/* line 16, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 24, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
body {
  font-size: 16px;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #c2cbe5;
  max-width: 2000px;
}

/* line 33, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
button,
input {
  border: none;
}

/* line 38, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.wrapper {
  position: relative;
}

/* line 41, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.bg-img {
  background-image: url("../assets/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* line 50, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.title {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.625rem;
}

/* line 57, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.title .title-green {
  color: #54e6af;
}

/* line 62, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.mobile-main-info {
  background-color: rgba(18, 23, 37, 0.85);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 71, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.logo {
  display: block;
  padding: 40px 0;
}

/* line 76, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.main-info {
  width: 90%;
  margin: 0 auto;
}

/* line 79, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.main-info p {
  font-size: 0.9375rem;
  line-height: 1.5;
  margin: 0;
}

/* line 86, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.partner-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 50px;
}

/* line 93, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.podcast-logo {
  width: 100px;
  margin-right: 20px;
}

/* line 96, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.podcast-logo:last-child {
  margin-right: 0;
}

/* line 100, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
.sign-up {
  margin-bottom: 100px;
  font-size: 0.875rem;
}

/* line 104, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
#email,
#request-access {
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 28px;
  cursor: pointer;
}

/* line 114, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
#email {
  background-color: #2c344b;
  text-align: left;
  margin-bottom: 15px;
}

/* line 118, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
#email::placeholder {
  color: #c2cbe5;
  padding-left: 15px;
}

/* line 124, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
#request-access {
  background-color: #54e6af;
  color: #2c344b;
  text-transform: capitalize;
}

/* line 128, ../../../../../Users/clairecalder/Documents/GitHub/Front-End-Mentor-Pod-Request-Access-Challenge/scss/style.scss */
#request-access:hover {
  background-color: #B3FFE2;
}

/*# sourceMappingURL=style.css.map */